.testimonials__top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  align-items: center;
}

.testimonials__bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  margin-top: 5rem;
}

.testimonial img {
  width: 48px;
  height: 48px;
}
.testimonial > img {
  width: 42px;
  height: 28px;
}
.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem 2.5rem;
  transition: var(--transition);
  border-radius: 20px;
  cursor: default;
}

.testimonial:hover {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  /* backdrop-filter: blur(5px); */
}

.testimonial > p {
  margin-top: 2.5rem;
}

.testimonial-people {
  display: flex;
  gap: 1.2rem;
  margin-top: 2rem;
  align-items: center;
}

.clients-section {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; */
  display: flex;
  justify-content: space-between;
  /* gap: 1.2rem; */
  margin: 1rem 0 1rem;
}

.client {
  padding: 1rem 1rem;
  width: 192px;
  height: 80px;
}

/* For tablet/medium devices */
@media screen and (max-width: 1024px) {
  .testimonials__bottom {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 3rem;
  }
  .testimonials__top {
    grid-template-columns: 1fr;
  }
}
/* For mobiles/small device */
@media screen and (max-width: 600px) {
  .testimonials__bottom {
    grid-template-columns: 1fr;
  }
}
